<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<div class="home-header">
<h1 class="home-title">Gav's Poker Payout Calculator 2.0</h1>
<p>You've already lost your college tuition, at least let us do the math for you</p>
</div>

<div class="button">
<a href="/newgame">
    <button>New Game</button>
</a>
</div>
<div class="body">
<h2>How It Works</h2>
<p>This website makes gambling with your friends easier than ever. Why? It eliminates cash. Playing poker then paying your friends with venmo is much easier because most people do not have correct change for payouts. There are 2 main modes on thise site: games where chips have different values and games where chips are all equal. When chips are different values we're happy to do the math for you, but if you're playing with single valued chips, we allow you to choose between entering buy-ins and winnings in chip amounts or cash amounts. Ready to rob your friends? Start a new game!</p>
</div>

<div class="footer">
<p>Created by Gavin O'Connor</p>
</div>