<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
</head>

<div class="home-header">
    <h1 class="home-title">Gav's Poker Payout Calculator 2.0</h1>
    <p>You've already lost your college tuition, at least let us do the math for you</p>
</div>

<div class="body">
<p class="question">Who's Playing?</p>

<p>If you inputted something wrong just put the same name again with the correct amount of chips</p>
{% for player in players %}
    <p>{{ player.name }} - {{ player.chip_string }} - (${{ "{:.2f}".format(player.buy_in) }})</p>
{% endfor %}



<form method="POST">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name">
    <br>
    {% for chip in chips %}
    <input type="number" min="0" step="1" id="{{chip.color}}" name="{{chip.color}}">
    <label for="{{chip.color}}">{{chip.color}} Chips (${{"{:.2f}".format(chip.value)}} each)</label>
    <br>
    {% endfor %}
    
    
    <input type="submit" value="Add Player">
</form>


<a href="/finishmultigame/{{code}}">
    <button>Finish Game</button>
</a>
