<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='newgame.css') }}">
</head>

<div class="home-header">
<h1 class="home-title">Gav's Poker Payout Calculator 2.0</h1>
<p>You've already lost your college tuition, at least let us do the math for you</p>
</div>

<div class="question">
<p>Are all chips equal or do they have different values?</p>
</div>
<div class="buttons">
<a href="/creatediffvalues">
    <button class="button-1">Different Value</button>
</a>
<a href="/equalchips">
<button class="button-2">Equal Chips</button>
</a>
</div>